@model RequestPortalDemo.Models.RequestFormVM
    @{
        ViewBag.Title = "Request Form";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="container">
    <h2>Request Input Form</h2>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="Id">Requestor ID</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", id = "Id", placeholder = "Enter Requestor ID" })
                    @*<input type="password" class="form-control" id="pwd" placeholder="Enter Requestor ID">*@
                    <div class="validation-summary-errors" id="errorContainer"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Requestor Name</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "name", placeholder = "Enter Requestor Name" })
                    @*<input type="email" class="form-control" id="email" placeholder="Enter Requestor Name">*@
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Requestor Email</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "email", placeholder = "Enter Requestor Email" })
                    @*<input type="password" class="form-control" id="pwd" placeholder="Enter Email">*@
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="phone">Requestor Phone</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", id = "phone", placeholder = "Enter Requestor Phone" })
                    @*<input type="password" class="form-control" id="pwd" placeholder="Enter Phone">*@
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="manager">BNSF Manager</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Manager, new { @class = "form-control", id = "manager", placeholder = "Enter Manager Name" })
                    @*<input type="password" class="form-control" id="pwd" placeholder="Enter Manager">*@
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="other">Other</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Other, new { @class = "form-control", id = "other", placeholder = "" })
                    @*<input type="password" class="form-control" id="pwd" placeholder="">*@
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="type">Requestor Type</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.Type, new SelectList(Model.TypeList, "Value", "Text"), new { @class = "form-control", id = "type" })
                    @*<input type="password" class="form-control" id="pwd" placeholder="Enter password">*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => x.IsContractor) If Contractor</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="contract-co">Contract Company</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.ContractCompany, new { @class = "form-control", id = "contract-co", placeholder = "" })
                    @*<input type="password" class="form-control" id="pwd" placeholder="">*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
</form>
</div>
@section scripts{
@Html.Partial("Scripts")
}